<h2>Allocations ({{ allocations | length }})</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>JobID</th>
            <th>Desired</th>
            <th>Current</th>
            <th>EvalID</th>
        </tr>
    </thead>
    <tbody>
        {% for allocation in allocations %}
        <tr>
            <td>{{ nomandalink(allocation.ID) }}</td>
            <td nowrap>{{ (allocation.CreateTime//1000000000) | date('Y-m-d H:i:s') }}</td>
            <td>{{ allocation.JobID }}</td>
            <td>{{ allocation.DesiredStatus }}</td>
            <td>{{ allocation.ClientStatus }}</td>
            <td>{{ nomandelink(allocation.EvalID) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>