{% extends "base.html.twig" %}

{% block title %}Job: {{ shortid }}{% endblock %}

{% block content %}

{% if noinfo %}

    <div class="alert alert-danger">
        <strong>Error</strong> Could not fetch job info
    </div>

{% else %}

    <div class="row">
        <div class="col-md-6">
            <h2>General Info</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr><th>ID</th><td>{{ job.ID }}</td></tr>
                    <tr><th>Name</th><td>{{ job.Name }}</td></tr>
                    <tr><th>Datacenters</th><td>{{ job.Datacenters | join(', ') }}</td></tr>
                    <tr><th>Type</th><td>{{ job.Type }}</td></tr>
                    <tr><th>Status</th><td>{{ job.Status }}</td></tr>
                    <tr><th>Priority</th><td>{{ job.Priority }}</td></tr>
                    <tr><th>Periodic</th><td>{% if job.Periodic %}Yes{% else %}No{% endif %}</td></tr>
                    <tr><th>AllAtOnce</th><td>{% if job.AllAtOnce %}Yes{% else %}No{% endif %}</td></tr>
                    <tr><th>Update</th><td>Stagger: {{ job.Update.Stagger }}, Parallel: {{ job.Update.MaxParallel }}</td></tr>
                    <tr><th>Constraints</th><td>{% set constraints = job.Constraints %}{{ include('constraints.html.twig') }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Task Overview</h2>
            <ul>
                {% for tg in job.TaskGroups %}
                    <li>{{ tg.Name }}
                    <ul>
                    {% for t in tg.Tasks %}
                        <li>{{ t.Name }}</li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2>Tasks</h2>

    {% for tg in job.TaskGroups %}
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><th>Name</th><td>{{ tg.Name }}</td></tr>
                    <tr><th>Count</th><td>{{ tg.Count }}</td></tr>
                    <tr><th>Constraints</th><td>{% set constraints = tg.Constraints %}{{ include('constraints.html.twig') }}</td></tr>
                    <tr><th>Latest&nbsp;Alloc</th><td>
                        {% for aid in tg.AllocationIDs %}
                        {{ nomadalink(aid) }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Constraints</th>
                        <th>Driver</th>
                        <th>Driver Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tg.Tasks %}
                    <tr>
                        <td>{{ t.Name }}</td>
                        <td>{% set constraints = t.Constraints %}{{ include('constraints.html.twig') }}</td>
                        <td>{{ t.Driver }}</td>
                        <td>
                            {% if t.Driver == 'docker' %}
                                {{ t.Config.image }}
                            {% elseif t.Driver == 'rkt' %}
                                {{ t.Config.image }}
                            {% elseif t.Driver == 'java' %}
                                {{ t.Config.jar_path }} {{ t.Config.args | join(' ') }}
                            {% elseif t.Driver == 'exec' %}
                                {{ t.Config.command }} {{ t.Config.args | join(' ') }}
                            {% elseif t.Driver == 'raw_exec' %}
                                {{ t.Config.command }} {{ t.Config.args | join(' ') }}
                            {% elseif t.Driver == 'Qemu' %}
                                {{ t.Config.image_path }} {{ t.Config.args | join(' ') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    <h2>Allocation History</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time</th>
                <th>Group[Instance]:Task</th>
                <th>Alloc/Eval/Node</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for ah in allocationHistory %}
            <tr>
                <td nowrap>{{ (ah.Time//1000000000) | date('Y-m-d H:i:s') }}</td>
                <td nowrap>{{ ah.Name }}:{{ ah.Task }}</td>
                <td nowrap>{{ nomadalink(ah.ID) }}/{{ nomadelink(ah.EvalID) }}/{{ nomadnlink(ah.NodeID) }}</td>
                <td nowrap>{{ ah.Type }}</td>
                <td>
                    {# any of these, usually only one anyway #}
                    {{ ah.RestartReason }}
                    {{ ah.DriverError }}
                    {{ ah.KillError }}
                    {{ ah.Message }}
                    {{ ah.DownloadError }}
                    {{ ah.ValidationError }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {#{{ dump(allocationHistory) }}#}

    {#{{ dump(allocations) }}#}
    {{ include('allocations.html.twig') }}

    {#{{ dump(evaluations) }}#}
    {{ include('evaluations.html.twig') }}

{% endif %}

{% endblock %}